<!-- BottomNavBar (Mobile Only) -->
<nav class="md:hidden fixed bottom-0 left-0 w-full flex justify-around items-center pt-3 pb-6 px-4 bg-[#faf9f5]/80 dark:bg-[#051125]/80 backdrop-blur-xl z-50 border-t border-[#051125]/5 dark:border-[#faf9f5]/5 shadow-[0_-4px_20px_rgba(5,17,37,0.03)]">
<a class="flex flex-col items-center justify-center text-[#775a19] dark:text-[#e9c176] font-bold active:scale-95 duration-200" href="/">
<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1;">home</span>
<span class="font-['Manrope'] text-[10px] uppercase tracking-widest font-medium mt-1">Inicio</span>
</a>
<!-- <a class="flex flex-col items-center justify-center text-[#051125]/40 dark:text-[#faf9f5]/40 active:scale-95 duration-200" href="#">
<span class="material-symbols-outlined">library_music</span>
<span class="font-['Manrope'] text-[10px] uppercase tracking-widest font-medium mt-1">Música</span>
</a> -->
<a class="flex flex-col items-center justify-center text-[#051125]/40 dark:text-[#faf9f5]/40 active:scale-95 duration-200" href="/fotos">
<span class="material-symbols-outlined">collections</span>
<span class="font-['Manrope'] text-[10px] uppercase tracking-widest font-medium mt-1">Fotos</span>
</a>
<a class="flex flex-col items-center justify-center text-[#051125]/40 dark:text-[#faf9f5]/40 active:scale-95 duration-200" href="/eventos">
<span class="material-symbols-outlined">event</span>
<span class="font-['Manrope'] text-[10px] uppercase tracking-widest font-medium mt-1">Fechas</span>
</a>
<a class="flex flex-col items-center justify-center text-[#051125]/40 dark:text-[#faf9f5]/40 active:scale-95 duration-200" href="/nosotros">
<span class="material-symbols-outlined">info</span>
<span class="font-['Manrope'] text-[10px] uppercase tracking-widest font-medium mt-1">Contacto</span>
</a>
</nav>
</body></html>