<%- include('partials/_header') %>

  <div class="">
    <div class="">
      <div class="col-12 col-md-10 col-lg-12"> 
        <div class="image-container position-relative">
          <br><br><br><br>
          <img src="bg3-lpl-web.png" class="img-fluid" alt="bg1" style="opacity: 0.9;">

          <div class="position-absolute top-50 start-50 translate-middle text-center w-100">

            <div class="text-overlay-content">

              <div >
                <span class="display-5 fw-bold mb-3 text-white">Evangelización a través de la </span>
                <span class="display-5 fw-bold mb-3 text-warning">Música Católica</span>
              </div>

              <div class="d-flex justify-content-center mt-4">
                <p class="lead text-white display-6 col-10">Un ministerio que toca corazones, libera almas y renueva la fe a través del poder transformador de la música cristiana</p>
              </div>
              <div class="d-flex justify-content-center mt-3">
                <p class="w-50 p-5 bg-white bg-opacity-25 rounded text-center fst-italic fw-bold text-white">"Cada integrante ha vivido la experiencia transformadora del Retiro de Emaús, impulsándonos a extender el amor de Cristo a través de cada nota y cada palabra"</p>
              </div>
              <button class="btn btn-warning mt-4 px-4">Únete al Ministerio</button>
              <button class="btn mt-4 border-white text-white">Escucha nuestra música</button>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <section id="nosotros" style="background-color: #a2c2d3 ;">
    <br><br><br><br>
    <p class="display-5 fw-bold text-center mt-4" style="color: #32434c;">Nuestra Misión</p>
    <div class="d-flex justify-content-center mt-5">
      <p class="fs-3 text-center col-7" style="color: #32434c;">Ser un instrumento vibrante de evangelización y catalizador para el crecimiento de la fe</p>
    </div>

  </section>

  <!-- Inicio del Pie de Página (Footer) -->
  <footer class="" style="background-color: #5a7482;">

    <br>
    <div class="row">
      <div class="col-1"></div>

      <div class="col-5 justify-content-center p-3"> <br>
        <p class="w-75 text-white">Un ministerio de música católica que emerge como instrumento vibrante de evangelización, llevando el amor de Cristo a través de cada nota y cada palabra.</p>
        <div class="bg-warning rounded p-3">
          <p class="display-6 ms-3 fw-bold">" Nuestra Misión "</p>
          <p class="text-center text-white fst-italic fw-bold">"Ser un puente hacia la fe, un eco de la verdad divina y una invitación a experimentar la presencia liberadora de Jesús"</p>
        </div>
      </div>

      <div class="col-2">
        <p>Navegación</p>
      </div>

    </div>

    <div class="border-t border-secondary mt-8 pt-8 text-center text-sm text-white">
      &copy; <span id="current-year">2025</span> La Piedra de Lázaro. Todos los derechos reservados.
    </div>
   
  </footer>


</body>
</html>   