<%- include('partials/_header') %>

<div class="text-center">

  <p class="fs-1">"No te he dicho que si crees ...</p>
  <p class="fs-1">... verás la Gloria de Dios ?"</p>
  <p class="fs-3">San Juan 11: 40</p>

  <a href="/agenda" >PROXIMOS SERVICIOS</a>
</div>


  
</body>
</html>   