<%- include('partials/_header') %>

  <nav style="display: flex; align-items: center; justify-content: space-between;" class="">
    <div>
      <img src="logo_lpl_black-removebg.png" style="width: 25%;" alt="logo">
    </div>
  
    <div>
      <ul>
        <li><a href="#" class="fs-3 amatic-sc-bold">Ministerio</a></li>
        <li><a href="#" class="fs-3 amatic-sc-bold">Música</a></li>
        <li><a href="#" class="fs-3 amatic-sc-bold">Invitaciones</a></li>
        <li><a href="#" class="fs-3 amatic-sc-bold">Galería</a></li>
        <li><a href="#" class="fs-3 amatic-sc-bold">Contacto</a></li>
      </ul>
    </div>
  </nav>

  <div class="display-flex">
    <div>
      <img src="foto_banda.png" class="border border-4" alt="foto_banda">
    </div>

    <div>
      <p>EL QUE CANTA ORA DOS VECES</p>
    </div>
  </div>


</body>
</html>   