<%- include('partials/_header') %>

  <div class="">
    <div class="">
      <div class="col-12 col-md-10 col-lg-12"> 
        <div class="image-container position-relative">
          <br><br><br><br>
          <img src="bg3-lpl-web.png" class="img-fluid" alt="bg1" style="opacity: 0.9;">

          <div class="position-absolute top-50 start-50 translate-middle text-center w-100">

            <div class="text-overlay-content">

              <div >
                <span class="display-5 fw-bold mb-3 text-white">Evangelización a través de la </span>
                <span class="display-5 fw-bold mb-3 text-warning">Música Católica</span>
              </div>

              <div class="d-flex justify-content-center mt-4">
                <p class="lead text-white col-10">Un ministerio que toca corazones, libera almas y renueva la fe a través del poder transformador de la música cristiana</p>
              </div>
              <div class="d-flex justify-content-center mt-3">
                <p class="w-50 p-5 bg-black bg-opacity-50 rounded text-center fst-italic fw-bold text-white">"Cada integrante ha vivido la experiencia transformadora del Retiro de Emaús, impulsándonos a extender el amor de Cristo a través de cada nota y cada palabra"</p>
              </div>
              <button class="btn btn-warning mt-4 px-4 fw-bold"><a class="text-decoration-none text-titulos" href="#contacto">Únete al Ministerio</a></button>
              <button class="btn mt-4 border-white text-white fw-bold"><a class="text-decoration-none text-white" href="#musica"></a>Escucha nuestra música</button>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- SECCION NOSOTROS -->
  <section id="nosotros" style="background-color: #a2c2d3 ;">

    <br><br><br>
    <p class="display-5 fw-bold text-center mt-4 text-titulos">Nuestra Misión</p>

    <div class="container-fluid py-4">

      <div class="row">
          <!-- Columna Izquierda (Imagen y Tarjeta Fe Renovada) -->
          <div class="col-8 col-md-6 mb-4 mb-md-0 mt-5">
              <div class="left-column-content">
                  <!-- Contenedor de la imagen -->
                  <div class="position-relative rounded">
                      <img src="guitarra-cristiana.avif" alt="Guitarra y Biblia" class="img-fluid rounded">
                  </div>

                 
              </div>
          </div>

          <!-- Columna Derecha (Tres Tarjetas de Texto) -->
          <div class="col-12 col-md-6 ">
              <!-- Tarjeta "Experiencia Transformadora" -->
              <div class="card bg-white mb-4 bloke">
                  <div class="card-body">
                      <h5 class="card-title mb-2 fw-bold fs-3 align-items-center text-titulos">
                        <span style='font-size:100px;'>&#128157;</span>
                        Experiencia Transformadora
                      </h5>
                      <p class="card-text text-muted text-titulos">
                          Cada integrante de nuestro ministerio ha vivido la transformadora experiencia del Retiro de Emaús, lo que cimenta nuestro compromiso inquebrantable con el servicio al prójimo.
                      </p>
                  </div>
              </div>

              <!-- Tarjeta "Más que Música" -->
              <div class="card bg-white mb-4 bloke">
                  <div class="card-body mb-4">
                      <h5 class="card-title mb-2 fw-bold fs-3 align-items-center text-titulos">
                        <span style='font-size:100px;'>&#127925;</span>
                        Más que Música
                      </h5>
                      <p class="card-text text-muted">
                          Nuestras canciones son un puente hacia la fe, un eco de la verdad divina y una invitación a experimentar la presencia liberadora de Jesús.
                      </p>
                  </div>
              </div>

              <!-- Tarjeta "Espectro Emocional" -->
              <div class="card bg-white bloke">
                  <div class="card-body">
                      <h5 class="card-title mb-4 fw-bold fs-3 align-items-center">
                        <span style='font-size:100px;'>&#129419;</span>
                        Espectro Emocional
                      </h5>
                      <p class="card-text text-muted">
                        Ser un instrumento vibrante de evangelización y catalizador para el crecimiento de la fe.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>



  </div>

  </section>


    <!-- SECCION MUSICA -->
  <section id="musica" style="background-color: #ffffff ;">
    <br><br><br><br>
    <p class="display-5 fw-bold text-center mt-4 text-titulos">Música que Transforma</p>
    <p class="text-center text-titulos fs-3">Cada canción es un diálogo directo con el Señor, arraigada en la Palabra de Dios</p>

    <div class="row mt-5">

      <div class="col" >
        
        <div class="d-flex gap-4 ms-4 me-4">
          
          <div class="card w-25 rounded single" style="background-color: #5a7482 ;">
            <img src="caminare-cover.png" alt="caminare">
            <p class="text-center text-white mt-2" style="font-size: smaller;">Caminaré en tu verdad</p>
          </div>
    
          <div class="card w-25 rounded single" style="background-color: #5a7482 ;">
            <img src="nuevoamor-cover.png" alt="nuevoamor">
            <p class="text-center text-white mt-2" style="font-size: smaller;">Mi Nuevo Amor</p>
          </div>
  
          <div class="card w-25 rounded single" style="background-color: #5a7482 ;">
            <img src="hoyhevuelto-cover.png" alt="hoyhevuelto">
            <p class="text-center text-white mt-2" style="font-size: smaller;">Hoy he vuelto</p>
          </div>

          <div class="card w-25 rounded single" style="background-color: #5a7482 ;">
            <img src="gracias-cover.png" alt="gracias">
            <p class="text-center text-white mt-2" style="font-size: smaller;">Gracias</p>
          </div>
    
          <div class="card w-25 rounded single" style="background-color: #5a7482 ;">
            <img src="elrey-cover.png" alt="elrey">
            <p class="text-center text-white mt-2" style="font-size: smaller;">Eres el Rey</p>
          </div>

        </div>

        <br><br><br><br>



  
      </div>


    </div>


  </section>


   <!-- SECCION EVENTOS -->
  <section id="eventos" style="background-color: #a2c2d3 ;">

    <br><br><br>
    <p class="display-5 fw-bold text-center mt-4 text-titulos">Eventos</p><br>

    <div class="row mx-4">

      <div class="col">
        <div class="d-flex justify-content-center gap-2">
          <div class="">
            <p class="mb-0 text-center fw-bold">Parroquia Espíritu Santo</p>
            <p class="mb-0 text-center">Emaus Hombres</p>
            <p class="mb-0 text-center">22 de Julio de 2025</p>
            <p class="mb-0 text-center">07:00 P.M.</p>
          </div>
          
          <div class="w-50">
            <img src="/eventos/espiritu_santo.png" alt="Evento La Piedra de Lázaro" class="img-fluid rounded">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="d-flex justify-content-center gap-2">
          <div class="">
            <p class="mb-0 text-center fw-bold">Parroquia Torcoroma</p>
            <p class="mb-0 text-center">Effetá</p>
            <p class="mb-0 text-center">2 de Julio de 2025</p>
            <p class="mb-0 text-center">07:00 P.M.</p>
          </div>
          
          <div class="w-50">
            <img src="/eventos/effeta.png" alt="efeta" class="img-fluid rounded">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="d-flex justify-content-center gap-2">
          <div class="">
            <p class="mb-0 text-center fw-bold">Parroquia Espíritu Santo</p>
            <p class="mb-0 text-center">Emaus Hombres</p>
            <p class="mb-0 text-center">22 de Julio de 2025</p>
            <p class="mb-0 text-center">07:00 P.M.</p>
          </div>
          
          <div class="w-50">
            <img src="/eventos/divina.png" alt="divina" class="img-fluid rounded">
          </div>
        </div>
      </div>




    </div><br><br>

    <div class="row mx-4">

      <div class="col">
        <div class="d-flex justify-content-center gap-2">
          <div class="">
            <p class="mb-0 text-center fw-bold">Parroquia Santa Teresita</p>
            <p class="mb-0 text-center">Emaus Hombres y Mujeres</p>
            <p class="mb-0 text-center">25 de Junio de 2025</p>
            <p class="mb-0 text-center">07:00 P.M.</p>
          </div>
          
          <div class="w-50">
            <img src="/eventos/sta_teresita.png" alt="sta_teresita" class="img-fluid rounded">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="d-flex align-items-center justify-content-center gap-2">
          <div class="">
            <p class="mb-0 text-center fw-bold">Jesús Buen Samaritano</p>
            <p class="mb-0 text-center">Emaus Hombres y Mujeres</p>
            <p class="mb-0 text-center">20 de Mayo de 2025</p>
            <p class="mb-0 text-center">07:00 P.M.</p>
          </div>
          
          <div class="w-50">
            <img src="/eventos/samaritano.png" alt="samaritano" class="img-fluid rounded">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="d-flex align-items-center justify-content-center gap-2">
          <div class="">
            <p class="mb-0 text-center fw-bold">Parroquia Torcoroma</p>
            <p class="mb-0 text-center">Emaus Hombres</p>
            <p class="mb-0 text-center">29 de Abril de 2025</p>
            <p class="mb-0 text-center">07:00 P.M.</p>
          </div>
          
          <div class="w-50">
            <img src="/eventos/torco.png" alt="torco" class="img-fluid rounded">
          </div>
        </div>
      </div>




    </div>

   


  </section>


  <!-- SECCION CONTACTO -->
  <section id="contacto" style="background-color: #a2c2d3 ;">
    <br>
    <p class="display-5 fw-bold text-center text-titulos">Contacto</p>

    <div class="">
      <p class="text-center text-titulos mb-0">Info de contacto: +57 (300) 246 81 26</p>
      <p class="text-center text-titulos">info@lapiedradelazaro.com</p>
    </div>

    <form action="" class="container">

        <div class="row gap-5">
          <input type="text" class="col form-control w-25 mt-1 rounded" placeholder="Nombre" required>
          <input type="text" class="col form-control w-25 mt-1 rounded" placeholder="E-mail" required>
        </div>
  
        <div class="row gap-5">
          <input type="text" class="col form-control w-25 mt-2 rounded" placeholder="Ciudad y País" required>
          <input type="text" class="col form-control w-25 mt-2 rounded" placeholder="Número de contacto" required>
        </div>

        <div class="row gap-5">
          <textarea type="text" rows="6" class="col form-control w-25 mt-2 rounded" placeholder="Mensaje" required></textarea>
          <button class="col form-control w-25 rounded btn btn-primary">ENVIAR</button>
        </div>

    </form>

    <br>

  </section>

  <!-- Inicio del Pie de Página (Footer) -->
   
  <footer class="" style="background-color: #5a7482;">

    <p class="text-center text-white">Camina con nosotros</p>

    <div class="d-flex justify-content-center">
      <img src="ig.png" alt="ig" style="width: 3%;" class="p-2">
      <img src="yt.png" alt="yt" style="width: 3%;" class="p-2">
      <img src="tk.png" alt="tk" style="width: 3%;" class="p-2">

      <img src="am.png" alt="am" style="width: 3%;" class="p-2">
      <img src="fb.png" alt="fb" style="width: 3%;" class="p-2">
      <img src="sp.png" alt="sp" style="width: 3%;" class="p-2">
    </div>
 
    <p class="text-center text-white mt-2">
      &copy; <span id="current-year">2025</span> La Piedra de Lázaro. Todos los derechos reservados.
    </p>
   
  </footer>


</body>
</html>   